@font-face {
	font-family: 'lobster';
	font-style: normal;
	font-display: swap;
	src: url('/assets/fonts/Lobster/Lobster-Regular.ttf');
}

html {
	--mainColor: #1453b2;
	--logoColor: #4a86e8;
	--secondColor: #2e2e2e;
}

body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

button {
	padding: 10px;
	border-radius: 5px;
	outline: 0;
	cursor: pointer;
}

.btn {
	color: #fff;
	background-color: var(--mainColor);
	border: solid 1px var(--mainColor);
	box-shadow: 2px 2px 2px #000;
	text-transform: uppercase;
}

.flex__container {
	display: flex;
	flex-wrap: wrap;
}

.flex__1 {
	flex: 1;
}
.flex__2 {
	flex: 2;
}
.flex__3 {
	flex: 3;
}
.flex__4 {
	flex: 4;
}
.flex__5 {
	flex: 5;
}

.active,
.link:hover {
	background-color: var(--mainColor);
	border-radius: 5px;
}

.link {
	display: block;
	cursor: pointer;
	padding: 16px;
	width: 100%;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.main__title {
	font-family: 'lobster', Arial, Helvetica, sans-serif;
	text-shadow: 3px 3px 5px var(--mainColor);
	font-size: 2.5rem;
}

.sub__title {
	font-size: 1.1em;
	color: var(--logoColor);
}

.text__center {
	text-align: center;
}

.card {
	box-shadow: 0 2px 5px 0 rgb(0, 0, 0, 16%), 0 2px 10px 0 rgb(0, 0, 0, 12%);
	position: relative;
	display: flex;
	flex-direction: column;
	word-wrap: break-word;
	background-clip: border-box;
	border: 1px solid rgba(0, 0, 0, 0.125);
	border-radius: 0.25rem;
	margin: 1.5rem 1rem;
	max-width: 400px;
	min-width: 300px;
}

@media screen and (min-width: 650px) {
	.card {
		max-width: 45% !important;
		min-width: 45% !important;
	}
}

@media screen and (min-width: 1024px) {
	.main__title {
		font-size: 4rem;
	}

	.sub__title {
		font-size: 1.5rem;
	}

	.card {
		max-width: 30% !important;
		min-width: 30% !important;
	}
}
